* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.content-wrapper {
  padding-inline: 16.5rem;
}

@media screen and (max-width: 930px) {
  .content-wrapper {
    padding-inline: 8rem;
  }
}
