.section-article {
  padding-top: 16rem;
  padding-bottom: 18.5rem;
}

.section-article .article-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.section-article .article-container .article-img-container {
  position: relative;
  z-index: -10;
  width: 88.9rem;
  height: 50rem;
}

.section-article .article-container .article-img-container .article-img {
  object-fit: contain;
  filter: hue-rotate(30deg);
}

.section-article .article-container .article-txt-box {
  padding-left: 9.6rem;
  padding-top: 9.6rem;
  z-index: 10;
  height: 31.7rem;
  width: 54rem;
  background-color: white;
  position: absolute;
  right: 4rem;
  bottom: 0rem;
}

.section-article .article-container .article-txt-box .h2-primary {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: #000000;
}

.section-article .article-container .article-txt-box .p-primary {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  mix-blend-mode: normal;
  padding-top: 2.5rem;
  opacity: 0.5;
}
