.footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
}

.footer .logo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
}

.footer .logo-box .footer-logo {
  width: 14.4rem;
  height: 3.2rem;
  margin-bottom: 2.4rem;
}

.footer .logo-box ul {
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;
  gap: 3.2rem;
}

.footer .logo-box ul a {
  text-decoration: none;
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  padding-top: 2.4rem;
}

.footer .logo-box ul a:hover {
  padding-bottom: 1rem;
  border-bottom: 3px solid white;
  border-radius: 3px;
  color: white;
}

.footer .social-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: auto;
}

.footer .social-box .socials-container {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.footer .social-box .socials-container svg {
  color: white;
  cursor: pointer;
}

.footer .social-box .socials-container svg:hover {
  color: #fff;
  opacity: 0.5;
}

.footer .social-box .p-secondary {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
