.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  padding-inline: 16.5rem;

  @media screen and (max-width: 1000px) {
    padding-inline: 8rem;
  }

  @media screen and (max-width: 760px) {
    flex-direction: column;
    gap: 1.6rem;
  }

  @media screen and (max-width: 500px) {
    padding-inline: 2.4rem;
  }

  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;

    @media screen and (max-width: 760px) {
      align-items: center;
    }

    .footer-logo {
      width: 14.4rem;
      height: 3.2rem;
      margin-bottom: 2.4rem;
    }

    ul {
      display: flex;
      justify-content: space-between;
      color: white;
      list-style-type: none;
      gap: 3.2rem;

      @media screen and (max-width: 930px) {
        gap: 1.6rem;
      }

      @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: center;
      }

      a {
        text-decoration: none;
        font-family: "Alata";
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: #ffffff;
        padding-top: 2.4rem;

        &:hover {
          padding-bottom: 1rem;
          border-bottom: 3px solid white;
          border-radius: 3px;
          color: white;
        }
      }
    }
  }

  .social-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
    height: 8.1rem;

    @media screen and (max-width: 760px) {
      align-items: center;
    }

    .socials-container {
      display: flex;
      gap: 1.6rem;
      justify-content: space-between;
      margin-bottom: 2.4rem;

      @media screen and (max-width: 760px) {
        justify-content: center;
        margin-bottom: 1.2rem;
      }

      svg {
        color: white;
        cursor: pointer;
      }

      svg:hover {
        color: #fff;
        opacity: 0.5;
      }
    }

    .p-secondary {
      font-family: "Alata";
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;

      @media screen and (max-width: 760px) {
        text-align: center;
      }
    }
  }
}
