.section-grid .grid-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-grid .grid-nav .h2-primary {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: #000000;
}

.section-grid .grid-nav .btn {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #000000;
  padding: 1.3rem 4rem;
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
}

.section-grid .grid-box {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 18rem;
}

.section-grid .grid-box .grid {
  width: 25.6rem;
  height: 45rem;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3.2rem;
  padding-left: 4rem;
}

.section-grid .grid-box .grid:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%);
  content: " ";
  opacity: 0.3;
}

.section-grid .grid-box .gr1 {
  background-image: url("../images/desktop/image-deep-earth.jpg");
}

.section-grid .grid-box .gr2 {
  background-image: url("../images/desktop/image-night-arcade.jpg");
}

.section-grid .grid-box .gr3 {
  background-image: url("../images/desktop/image-soccer-team.jpg");
}

.section-grid .grid-box .gr4 {
  background-image: url("../images/desktop/image-grid.jpg");
}

.section-grid .grid-box .gr5 {
  background-image: url("../images/desktop/image-from-above.jpg");
}

.section-grid .grid-box .gr6 {
  background-image: url("../images/desktop/image-pocket-borealis.jpg");
}

.section-grid .grid-box .gr7 {
  background-image: url("../images/desktop/image-curiosity.jpg");
}

.section-grid .grid-box .gr8 {
  background-image: url("../images/desktop/image-fisheye.jpg");
}
