.section-hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  min-height: 65rem;
  padding-inline: 16.5rem;
  position: relative;
}

@media screen and (max-width: 930px) {
  .section-hero {
    padding-inline: 8rem;
  }
}

.section-hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 13rem;
}

.section-hero nav ul {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  list-style: none;
}

.section-hero nav ul a {
  text-decoration: none;
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  position: relative;
}

.section-hero nav ul a:hover {
  padding-bottom: 1rem;
  border-bottom: 3px solid white;
  border-radius: 3px;
  color: white;
}

.section-hero nav .hamburger-svg {
  display: none;
}

.section-hero .h1-hero {
  width: 60rem;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 7.2rem;
  line-height: 7rem;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid white;
  padding: 4rem;
  position: absolute;
}
